body {
  background-color: #b8f6ff;
  margin: 20px;
}
h1 {
  color: #ffa500;
  font-family: Georgia;
  text-align: center;
  font-size: 3em;
  text-shadow: 2px 2px #000;
}
h3 {
  color: #2f2f2f;
  font-family: sans-serif;
}
img {
  border: 3px solid #808080;
}
